<footer id="FOOTER">
    <div class="sprinkle"></div>


    <div class="copyright">
        <img src="/images/logo_bricks_allwhite.svg" alt="My Salon Most">
        <div class="texts">
            <p>©️ My Salon Most - @DateTime.Now.Year</p>
            <p>S ♥ k mamince vytvořil <a href="https://stanislavskudrna.cz" target="_blank">Stanislav Škudrna</a></p>
        </div>
    </div>
</footer>