<header id="HEADER">
    @* <div class="logo"></div> *@
    @* <img src="/images/logo_bricks_black.svg" alt="My Salon Most - Logo" class="logo-img"> *@
    <div class="logo-img"></div>

    <nav>
        <a href="/" class="@(ViewBag.PageTitleId == "home" ? "selected" : "")">Domů</a>
        <a href="/tym" class="@(ViewBag.PageTitleId == "team" ? "selected" : "")">Tým</a>
        <a href="/fotografie" class="@(ViewBag.PageTitleId == "photos" ? "selected" : "")">Fotografie</a>
    </nav>

    <div class="left">
        <div class="links">
            <a href="https://cs-cz.facebook.com/people/MY-SALON-MOST/100054547115459/" target="_blank" style="--mask: url('/images/logos/facebook_white_mini.svg');"></a>
        </div>
        <a class="button-primary-colored" href="/rezervace">Rezervace</a>
    </div>
</header>