<header id="HEADER">
    <div class="logo"></div>

    <nav>
        <a href="" class="@(ViewBag.PageTitleId == "home" ? "selected" : "")">Domů</a>
        <a href="" class="@(ViewBag.PageTitleId == "team" ? "selected" : "")">Tým</a>
        <a href="" class="@(ViewBag.PageTitleId == "photos" ? "selected" : "")">Fotografie</a>
    </nav>

    <div class="left">
        <div class="links">
            <a href="https://cs-cz.facebook.com/people/MY-SALON-MOST/100054547115459/" target="_blank" style="--mask: url('/images/logos/facebook_white_mini.svg');"></a>
        </div>
        <button class="button-primary-colored">Rezervace</button>
    </div>
</header>