<!DOCTYPE html>
<html lang="cs">
<head>
    <meta name="author" content="Admin">
    <meta name="keywords" content="mysalon-most,mysalon,&quot;kadeřnické studio&quot;,kadernictvi" />
    <meta name="description" content="MySalon Most - moderní kadeřnické studio pro celou rodinu" />
    <link rel="stylesheet" type="text/css" href="./styles/main.css?ver=270120221"/>
    <link rel="stylesheet" type="text/css" href="./styles/fontstyles.css?ver=270120221"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>MySalon Most • Web</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="shortcut icon" href="./images/logo.png?ver=270120221" type="image/x-icon">
</head>








<body id="body">
    <div id="vueApp">
        <!--//LINK - HEADER -->
        <div id="HEADER">
            <div class="header-logo"></div>

            <!--?   NAVBAR PC    -->
            <div id="header-navbar" class="text-shadow">
                <a class="a" v-for="(item, index) in pages" v-if="item.settings.onNavbar == true" v-bind:key="index" v-on:click="onMenuItemClick(item)" v-bind:class="{'text-selected': item.id == currentPage}" v-bind:href="'#' + item.id">{{ item.name }}</a>
            </div>
        </div>

        <!-- //SECTION - TOP -->
        <div id="TOP" v-bind:style="{ height: !fsTopPages.includes(currentPage) ? '92vh' : '100vh'}">
            <div v-bind:style="mainbg()" alt="" id="mainbg"></div>

            <transition name="fade">    
                <div v-if="currentPage == 'home'" key="home" id="toppage-home-text-div">
                    <div id="blob-fullscreen"></div>
                    <div class="page-center">
                        <div class="home-flex-parent">
                            <div class="home-text-div">
                                <p class="h">My Salon</p>
                                <p class="p p1 font-p text-selected">Moderní kadeřnické studio pro celou rodinu.</p>
                                <p class="p p1 font-p">V příjemném, klimatizovaném prostředí pracují kadeřnice, které se pravidelně vzdělávají v oblasti nových trendů. Samozřejmostí je individuální přístup a kadeřnické služby na vysoké úrovni.</p>
                            </div>
                            <div class="biglogo"></div>
                        </div>
                    </div>
                </div>

                <div v-if="currentPage == 'team'" key="team">
                    <div class="page-center">
                        <p class="h text-shadow" style="color: white;">NÁŠ TÝM</p>
                        <p class="p text-shadow font-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est perferendis qui amet quibusdam animi voluptate illum blanditiis tenetur, corporis labore culpa dicta consequatur architecto facere doloremque, doloribus excepturi iusto delectus!</p>
                    </div>
                </div>
            </transition>
        </div>
        <!-- // !SECTION -->

        <div id="PAGE1" v-if="!fsTopPages.includes(currentPage)">
            <div class="page-divider"></div>

        </div>

        <div id="FOOTER"></div>
    </div>
    <script src="./scripts/script.js?ver=270120221"></script>
    <script src="./scripts/app.js?ver=270120221"></script>
</body>
</html>

<!--    WEB VYTVOŘIL - STANISLAV ŠKUDRNA    -->