@using MySalonMostWeb
@using MySalonMostWeb.Classes
@{
    ViewBag.PageTitleName = "Domů";
    ViewBag.PageTitleId = "home";
}
<!DOCTYPE html>
<!--suppress CssUnresolvedCustomProperty -->
<html lang="cs">
<head>
    <meta name="author" content="MySalon Most - Jana Škudrnová">
    <meta name="keywords" content="mysalon-most, mysalon, kadeřnické studio, kadernictvi, jana skudrnova, jana škudrnová, škudrnová, škudrna, my salon, my salon most, mysalon most, moderní kadeřnické studio, kadeřnictví most, kadeřnice, kadeřnice most, kadeřnictví mysalon, kadeřnictví my salon, kadeřnictví škudrnová, škudrnová jana, holičství most, holičství" />
    <meta name="description" content="MySalon Most - Moderní kadeřnické studio pro celou rodinu. V příjemném, klimatizovaném prostředí pracují kadeřnice, které se pravidelně vzdělávají. Samozřejmostí je individuální přístup a kadeřnické služby na vysoké úrovni." />
    <meta content="#00d30b" data-react-helmet="true" name="theme-color"/>
    <link rel="stylesheet" type="text/css" href="/styles/home.css?ver=@Program.CACHE_VERSION"/>
    <link rel="stylesheet" type="text/css" href="/styles/main.css?ver=@Program.CACHE_VERSION"/>
    <link rel="stylesheet" type="text/css" href="@Utilities.WebTheme.GetCSSFile()?ver=@Program.CACHE_VERSION"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <script src="/lib/vue@(Program.DEVELOPMENT_MODE ? "_dev" : "").js"></script>
    <title>MY SALON MOST - Moderní kadeřnické studio pro celou rodinu</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="MySalon Most">
    <meta property="og:description" content="Moderní kadeřnické studio pro celou rodinu">
    <!-- <meta property="og:image" content="/img/webinar-css-grid.png"> -->
    <meta property="og:site_name" content="MySalon Most">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="cs_CZ">
    <meta property="og:url" content="https://www.mysalon-most.cz/">



    <!-- Prefetch images -->
    <link rel="prefetch" href="/images/hair/1.jpg">
    <link rel="prefetch" href="/images/hair/2.jpg">
    <link rel="prefetch" href="/images/hair/9.jpg">
    <link rel="prefetch" href="/images/hair/19.jpg">
    <link rel="prefetch" href="/images/hair/20.jpg">
    <link rel="prefetch" href="/images/hair/22.jpg">
    <link rel="prefetch" href="/images/hair/23.jpg">
</head>








<body>
    <div id="vueApp">

        @await Html.PartialAsync("Header")



        <section id="TOP" class="preventdefault">
            <div class="img1"></div>

            <div class="center">
                <div class="img2" id="hairimage"></div>

                <div class="texts">
                    <h1 class="minitext">My Salon&nbsp;&nbsp;&nbsp;<span>────</span></h1>
                    <h2 class="h">Moderní<br>kadeřnické studio<br>pro celou rodinu</h2>
                    <p class="p">V příjemném, klimatizovaném prostředí pracují kadeřnice, které se pravidelně vzdělávají v oblasti nových trendů. Samozřejmostí je individuální přístup a kadeřnické služby na vysoké úrovni.</p>
                    <button class="button-primary" v-on:click="scrollToElement('page1')">VÍCE O NÁS</button>
                </div>
            </div>

            <p class="bg-text">my salon</p>
            <div class="sprinkle"></div>
        </section>



        <section id="page1">
            <div class="flex">
                <div class="images">
                    <div></div>
                    <div></div>
                </div>

                <div class="texts">
                    <h1 class="minitext-colored">O NÁS&nbsp;&nbsp;&nbsp;<span>────</span></h1>
                    <h2 class="h">Jaké služby nabízíme?</h2>
                    <div class="sluzby">
                        <div>Precizní střihy</div>
                        <div>Barvení vlasů dle aktuálních trendů</div>
                        <div>Melírování vlasů bez poškození vlasů</div>
                        <div>Balayage, ombre a flamboage a podobné techniky</div>
                        <div>Poradenství</div>
                        <div>Blond odstíny šetrnou cestou od šedé a bílé, až po přírodní blond</div>
                        <div>Horké nůžky</div>
                        <div>Stahování a čištění barvy</div>
                        <div>Společenské a svatební účesy</div>
                        <div>Prodej vlasové kosmetiky</div>
                    </div>
                    <p class="p pozn">* při práci používáme výhradně kvalitní a profesionální produkty</p>
                </div>
            </div>
        </section>



        <section id="page2" style="padding-top: 40px">
            <div class="flex">
                <h1 class="minitext-colored"><span>────</span>&nbsp;&nbsp;&nbsp;LOKACE&nbsp;&nbsp;&nbsp;<span>────</span></h1>
                <h2 class="h">Kde nás najdete?</h2>
                <p class="p" style="text-align: center">Najdete nás v Mostě, na tř. Budovatelů 3068, naproti Centrálu, mezi Čedokem a Bilbem.</p>

                <div class="imgs">
                    <div></div>
                    <iframe id="map" frameborder="0" loading="lazy">Načítání...</iframe>
                </div>
            </div>
        </section>



        @await Html.PartialAsync("Footer")
    </div>
</body>



<script type="module">
    import { vue } from "/scripts/home.js?ver=@Program.CACHE_VERSION";
</script>
@await Html.PartialAsync("PageTitle")
<script type="text/javascript">
    setTimeout(() => {
        document.getElementById("map").src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d717.2743118207901!2d13.638250493644948!3d50.502804903708515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470a21cb4bbb95c3%3A0xd235e5d5acd7d809!2sMY%20SALON%20MOST!5e0!3m2!1scs!2scz!4v1652275223749!5m2!1scs!2scz";
    }, 100);

    /*document.addEventListener("DOMContentLoaded", () => {
        const hairImage = document.getElementById("hairimage");

        setInterval(() => {
            const arr = [19,20,1,2,9,22,23];
            hairImage.style.backgroundImage = `url('/images/hair/${arr[Math.floor(Math.random() * arr.length)]}.jpg')`;
        }, 5000);
    });*/
</script>
</html>


<!--

S ♥ k mamince vytvořil Stanislav Škudrna v roce 2024 - stanislavskudrna.cz

-->