@using MySalonMostWeb
@using MySalonMostWeb.Classes
@{
    ViewBag.PageTitleName = "Fotografie";
    ViewBag.PageTitleId = "photos";
}
<!DOCTYPE html>
<!--suppress CssUnresolvedCustomProperty -->
<html lang="cs">
<head>
    <meta name="author" content="MySalon Most - Jana Škudrnová">
    <meta name="keywords" content="mysalon-most, mysalon, kadeřnické studio, kadernictvi, jana skudrnova, jana škudrnová, škudrnová, škudrna, my salon, my salon most, mysalon most, moderní kadeřnické studio, kadeřnictví most, kadeřnice, kadeřnice most, kadeřnictví mysalon, kadeřnictví my salon, kadeřnictví škudrnová, škudrnová jana, holičství most, holičství" />
    <meta name="description" content="MySalon Most - Moderní kadeřnické studio pro celou rodinu. V příjemném, klimatizovaném prostředí pracují kadeřnice, které se pravidelně vzdělávají. Samozřejmostí je individuální přístup a kadeřnické služby na vysoké úrovni." />
    <meta content="#00d30b" data-react-helmet="true" name="theme-color"/>
    <link rel="stylesheet" type="text/css" href="/styles/photos.css?ver=@Program.CACHE_VERSION"/>
    <link rel="stylesheet" type="text/css" href="/styles/main.css?ver=@Program.CACHE_VERSION"/>
    <link rel="stylesheet" type="text/css" href="@Utilities.WebTheme.GetCSSFile()?ver=@Program.CACHE_VERSION"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <script src="/lib/vue@(Program.DEVELOPMENT_MODE ? "_dev" : "").js"></script>
    <title>Fotografie - MY SALON MOST - Moderní kadeřnické studio pro celou rodinu</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="MySalon Most">
    <meta property="og:description" content="Moderní kadeřnické studio pro celou rodinu">
    <!-- <meta property="og:image" content="/img/webinar-css-grid.png"> -->
    <meta property="og:site_name" content="MySalon Most">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="cs_CZ">
    <meta property="og:url" content="https://www.mysalon-most.cz/photos">
</head>








<body>
    <div id="vueApp">

        @await Html.PartialAsync("Header")



        <section id="TOP" class="colored">
            <div class="bg"></div>

            <div class="center">
                <h1 class="minitext-colored"><span>────</span>&nbsp;&nbsp;&nbsp;MY SALON&nbsp;&nbsp;&nbsp;<span>────</span></h1>
                <h2 class="h">Fotografie</h2>
            </div>
        </section>



        <section id="page1">

            <h1 class="minitext-colored" style="text-align: center; margin-bottom: 20px"><span>────</span>&nbsp;&nbsp;&nbsp;INTERIER&nbsp;&nbsp;&nbsp;<span>────</span></h1>
            <div class="images">
                <img src="/images/interier/IMG_20241025_161049.jpg" alt="My Salon Most Interier">
                <img src="/images/interier/IMG_20241025_161055.jpg" alt="My Salon Most Interier">
                <img src="/images/interier/IMG_20241025_161124.jpg" alt="My Salon Most Interier">
                <img src="/images/interier/IMG_20241025_161201.jpg" alt="My Salon Most Interier">
                <img src="/images/interier/IMG_20241025_161312.jpg" alt="My Salon Most Interier">
                <img src="/images/interier/IMG_20241025_161345.jpg" alt="My Salon Most Interier">
            </div>

            <h1 class="minitext-colored" style="text-align: center; margin: 128px 0 20px 0"><span>────</span>&nbsp;&nbsp;&nbsp;NAŠE PRÁCE&nbsp;&nbsp;&nbsp;<span>────</span></h1>
            <div class="images smaller" style="margin-top: 20px">
                <img src="/images/hair/33.jpg" alt="My Salon Most">
                <img src="/images/hair/32.jpg" alt="My Salon Most">
                <img src="/images/hair/31.jpg" alt="My Salon Most">
                <img src="/images/hair/30.jpg" alt="My Salon Most">
                <img src="/images/hair/29.jpg" alt="My Salon Most">
                <img src="/images/hair/28.jpg" alt="My Salon Most">
                <img src="/images/hair/27.jpg" alt="My Salon Most">
                <img src="/images/hair/26.jpg" alt="My Salon Most">
                <img src="/images/hair/25.jpg" alt="My Salon Most">
                <img src="/images/hair/24.jpg" alt="My Salon Most">
                <img src="/images/hair/23.jpg" alt="My Salon Most">
                <img src="/images/hair/22.jpg" alt="My Salon Most">
                <img src="/images/hair/21.jpg" alt="My Salon Most">
                <img src="/images/hair/20.jpg" alt="My Salon Most">
                <img src="/images/hair/19.jpg" alt="My Salon Most">
                <img src="/images/hair/18.jpg" alt="My Salon Most">
                <img src="/images/hair/17.jpg" alt="My Salon Most">
                <img src="/images/hair/16.jpg" alt="My Salon Most">
                <img src="/images/hair/15.jpg" alt="My Salon Most">
                <img src="/images/hair/14.jpg" alt="My Salon Most">
                <img src="/images/hair/13.jpg" alt="My Salon Most">
                <img src="/images/hair/12.jpg" alt="My Salon Most">
                <img src="/images/hair/11.jpg" alt="My Salon Most">
                <img src="/images/hair/10.jpg" alt="My Salon Most">
                <img src="/images/hair/9.jpg" alt="My Salon Most">
                <img src="/images/hair/8.jpg" alt="My Salon Most">
                <img src="/images/hair/7.jpg" alt="My Salon Most">
                <img src="/images/hair/6.jpg" alt="My Salon Most">
                <img src="/images/hair/5.jpg" alt="My Salon Most">
                <img src="/images/hair/4.jpg" alt="My Salon Most">
                <img src="/images/hair/3.jpg" alt="My Salon Most">
                <img src="/images/hair/2.jpg" alt="My Salon Most">
                <img src="/images/hair/1.jpg" alt="My Salon Most">
            </div>
        </section>



        @await Html.PartialAsync("Footer")
    </div>
</body>



<script type="module">
    import { vue } from "/scripts/photos.js?ver=@Program.CACHE_VERSION";
</script>
@await Html.PartialAsync("PageTitle")
</html>


<!--

S ♥ k mamince vytvořil Stanislav Škudrna v roce 2024 - stanislavskudrna.cz

-->