html {
    --background-primary: rgba(255, 255, 255);
    --color-gray: #dcdcdc;
    --text-color-gray: #606060;
    --accent-color: #00c80b;
    --accent-color-darker: #006e06;
    --text-color-secondary: #438343;
    --text: black;
    --element-background: rgba(0, 0, 0, 0.05);
}