body {
    color: var(--text);
    background-color: var(--bg);
    margin:0;
    //--mobile-maxw: 600px;
    //--tablet-minw: 600px;
    //--tablet-maxw: 960px;
    //--laptop-minw: 960px;
    //--laptop-maxw: 1264px;
    //--fourk-minw: 1904px;
}



#TOP {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: var(--text-color-secondary);
    overflow: hidden;

    .img1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(143deg, rgba(0,0,0,0.7652310924369747) 0%, rgba(0,212,255,0) 61%), /*url("/images/pine.jpg")*/ url("/images/wallpapers/wp1.webp");
        background-size: cover;
        transform: scaleX(-1);
    }

    .center {
        display: flex;
        position: absolute;
        height: auto;
        width: fit-content;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        gap: 3vw;
        z-index: 1;

        .img2 {
            position: relative;
            height: 79vh;
            aspect-ratio: 1/1;
            background: #d7d7d7 url("/images/hair/20.jpg") no-repeat center;
            background-size: cover;
            transition-duration: 2s;
            transition-property: background-image;
        }

        .texts {
            width: 25vw;
            position: relative;
            overflow-x: visible;
            z-index: 2;

            .h {
                position: relative;
                font-size: 2.5vw;
                margin: 16px 0;
                //margin-left: -150px;
                z-index: 2;
                color: black;
            }

            .p {
                color: black;
                font-size: 1vw;
            }

            .minitext {
                margin: 0;
                text-transform: uppercase;
                font-size: 1vw;
                font-family: gilroy-medium;
                font-weight: lighter;
                color: white;

                span {
                    color: white;
                    font-weight: bolder;
                }
            }

            button {
                padding: 10px 40px;
                margin-top: 24px;
                color: white;
                border-color: white;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }

    }

    .bg-text {
        position: absolute;
        bottom: -2vh;
        margin: 0;
        right: 0;
        font-size: 10vw;
        font-family: gilroy;
        font-weight: bolder;
        color: black;
        text-align: center;
        z-index: 0;
        opacity: 0.025;
        pointer-events: none;
        user-select: none;
    }

    .sprinkle {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        mask: url("/images/sprinkle2.svg") no-repeat center center;
        mask-size: cover;
        z-index: 0;
        opacity: 0.2;
        pointer-events: none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(196deg, rgba(0,0,0,0.7652310924369747) 0%, rgba(0,212,255,0) 50%);
        }
    }
}

#page1 {
    padding: 80px 5vw;
    background-color: var(--background-primary);

    >.flex {
        //flex-direction: row-reverse;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        gap: 6vw;
        justify-content: space-between;

        >div {
            width: calc(50% - 3vw);
        }


        >.images {
            display: flex;
            position: relative;

            div {
                position: relative;
                width: 75%;
                height: fit-content;
                aspect-ratio: 1/1 !important;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: 1.2vw solid var(--background-primary);
            }

            div:nth-child(1) {
                background-image: url("/images/hair/1.jpg");
            }

            div:nth-child(2) {
                background-image: url("/images/hair/9.jpg");
                margin-top: 25%;
                margin-left: -25%;
            }
        }

        >.texts {
            >.sluzby {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                >div {
                    flex-grow: 1;
                    font-family: gilroy;/*-medium;
                    font-weight: lighter;*/
                    font-size: 16px;
                    color: var(--text-color-gray);
                    //border: 2px solid var(--text-color-secondary);
                    border: 2px solid var(--accent-color);
                    padding: 16px;
                    width: fit-content;
                    user-select: none;
                    transition-duration: 0.1s;
                    text-align: center;

                    &:hover {
                        background-color: var(--text-color-secondary);
                        border-color: var(--text-color-secondary);
                        color: white;
                        transition-duration: 0.1s;
                    }
                }
            }

            .pozn {
                font-size: 16px;
                font-family: gilroy-medium;
                color: var(--text-color-gray);
                margin-top: 32px;
                text-align: right;
                letter-spacing: 0;
                opacity: 0.7;
            }
        }
    }
}




/* Mobiles */
@media screen and (max-width: 600px) {
    #page1 {
        .flex {
            flex-direction: column-reverse;

            >div {
                width: 100%;
            }
        }
    }
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 960px) {
    #page1 {
        .flex {
            flex-direction: column-reverse;

            >div {
                width: 100%;
            }
        }
    }
}

/* Laptops */
@media screen and (min-width: 960px) and (max-width: 1264px) {
    #page1 {
        .flex {
            flex-direction: column-reverse;

            >div {
                width: 75%;
            }
        }
    }
}

/* 4K */
@media screen and (min-width: 1904px) {}

/* ERR */
@media screen and (max-width: 300px) {
    #vueApp {
        display: none;
    }

    body {
        &::before {
            content: 'Tato stránka není optimalizována pro zařízení s menším rozlišením než 300px.';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            font-family: gilroy;
            font-weight: bolder;
            color: var(--text);
            text-align: center;
            width: 100%;
        }
    }
}