body {
    color: var(--text);
    background-color: var(--bg);
    margin:0;
    //--mobile-maxw: 600px;
    //--tablet-minw: 600px;
    //--tablet-maxw: 960px;
    //--laptop-minw: 960px;
    //--laptop-maxw: 1264px;
    //--fourk-minw: 1904px;
}


#TOP {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary);
    overflow-y: hidden;



    .bg-text {
        position: absolute;
        bottom: -2vh;
        margin: 0;
        font-size: 10vw;
        font-family: gilroy;
        font-weight: bolder;
        color: var(--text);
        text-align: center;
        z-index: 0;
        opacity: 0.05;
        /*animation: idle 10s infinite ease-in-out;
        
        @keyframes idle {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(10vw);
            }
            100% {
                transform: translateX(0);
            }
        }*/
    }


    .flex {
        display: flex;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .texts {
            width: 25vw;

            .h {
                font-size: 2.5vw;
                margin: 16px 0;
            }

            .minitext {
                margin: 0;
                text-transform: uppercase;
                font-size: 1vw;
                font-family: gilroy-medium;
                font-weight: lighter;

                span {
                    color: var(--accent-color);
                    font-weight: bolder;
                }
            }

            button {
                padding: 10px 40px;
                margin-top: 24px;
            }
        }

        .imagediv {
            position: relative;
            height: 88vh;
            filter: sepia(80%) hue-rotate(-10deg);
            aspect-ratio: 33/40;
            
            >div {
                width: 100%;
                height: 100%;
                background: url("/images/mainpage_photo.png") no-repeat center center;
                background-size: contain;
            }
        }
    }
}

#TOP2 {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: var(--text-color-secondary);
    overflow-y: hidden;

    .img1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(143deg, rgba(0,0,0,0.7652310924369747) 0%, rgba(0,212,255,0) 61%), url("/images/pine.jpg");
        background-size: cover;
        transform: scaleX(-1);
    }

    .center {
        display: flex;
        position: absolute;
        height: auto;
        width: fit-content;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        gap: 3vw;
        z-index: 1;

        .img2 {
            position: relative;
            height: 79vh;
            aspect-ratio: 1/1;
            background: #d7d7d7 url("/images/hair/20.jpg") no-repeat center;
            background-size: cover;
            transition-duration: 2s;
            transition-property: background-image;
        }

        .texts {
            width: 25vw;
            position: relative;
            overflow-x: visible;
            z-index: 2;

            .h {
                position: relative;
                font-size: 2.5vw;
                margin: 16px 0;
                //margin-left: -150px;
                z-index: 2;
            }

            .p {
                color: black;
                font-size: 1vw;
            }

            .minitext {
                margin: 0;
                text-transform: uppercase;
                font-size: 1vw;
                font-family: gilroy-medium;
                font-weight: lighter;
                color: white;

                span {
                    color: white;
                    font-weight: bolder;
                }
            }

            button {
                padding: 10px 40px;
                margin-top: 24px;
                color: white;
                border-color: white;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }

    }

    .bg-text {
        position: absolute;
        bottom: -2vh;
        margin: 0;
        right: 0;
        font-size: 10vw;
        font-family: gilroy;
        font-weight: bolder;
        color: black;
        text-align: center;
        z-index: 0;
        opacity: 0.025;
        pointer-events: none;
        user-select: none;
    }

    .sprinkle {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        mask: url("/images/sprinkle2.svg") no-repeat center center;
        mask-size: cover;
        z-index: 0;
        opacity: 0.2;
        pointer-events: none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(196deg, rgba(0,0,0,0.7652310924369747) 0%, rgba(0,212,255,0) 50%);
        }
    }
}




/* Mobiles */
@media screen and (max-width: 600px) {

}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 960px) {

}

/* Laptops */
@media screen and (min-width: 960px) and (max-width: 1264px) {}

/* 4K */
@media screen and (min-width: 1904px) {}

/* ERR */
@media screen and (max-width: 300px) {
    #vueApp {
        display: none;
    }

    #badres {
        display: grid;
    }
}