@font-face {
  font-family: nexa;
  src: url(../fonts/nexa-heavy.otf);
}
@font-face {
  font-family: gilroy-extrabold;
  src: url(../fonts/gilroy-extrabold.otf);
}
@font-face {
  font-family: gilroy;
  src: url(../fonts/gilroy-light.otf);
}
@font-face {
  font-family: gilroy-medium;
  src: url(../fonts/gilroy-medium.otf);
}
@font-face {
  font-family: gilroy-regular;
  src: url(../fonts/gilroy-regular.otf);
}
* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none !important;
}

body, html {
  overflow-x: hidden;
  margin: 0;
}

body {
  /*&:after {
      content: '';
      z-index: 10;
      position: fixed;
      top: 0;
      left:  0;
      width: 100%;
      height: 100%;
      animation: fadein 0.5s ease-out;
      opacity: 0;
      background-color: var(--text-color-secondary);
      pointer-events: none;

      @keyframes fadein {
          0% {
              opacity: 1;
          }

          30% {
              opacity: 1;
          }

          to {
              opacity: 0;
          }
      }
  }*/
}

::selection {
  background-color: var(--accent-color) !important;
  color: white;
}

:focus-visible {
  outline: 2px var(--accent-color) solid;
}

::-webkit-scrollbar {
  width: 10px;
  transition-duration: 0.3s;
}

::-webkit-scrollbar-track {
  background: var(--background-primary);
  border: none;
  box-shadow: none;
  transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-secondary);
  transition-duration: 0.3s;
  border-left: 3px solid var(--color-gray);
}

#TOP:not(.preventdefault) {
  width: 100%;
  position: relative;
  min-height: calc(50vh + 80px);
}
#TOP:not(.preventdefault) .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
#TOP:not(.preventdefault) .minitext, #TOP:not(.preventdefault) .minitext-colored {
  font-size: 1vw;
  margin: 0;
}
#TOP:not(.preventdefault) .h {
  font-size: 2.5vw;
  margin: 0;
}
#TOP:not(.preventdefault) .p {
  font-size: 1vw;
  margin: 0;
}
#TOP:not(.preventdefault):is(.colored) {
  background-color: var(--text-color-secondary);
}
#TOP:not(.preventdefault):is(.colored) .minitext, #TOP:not(.preventdefault):is(.colored) .minitext-colored {
  color: white !important;
}
#TOP:not(.preventdefault):is(.colored) .h, #TOP:not(.preventdefault):is(.colored) .p {
  color: black;
}

#page1, #page2, #page3 {
  padding: 80px 5vw;
}

.button-primary-colored, .button-primary {
  font-family: gilroy;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  color: var(--text);
  border: 2px solid var(--accent-color);
  padding: 10px 20px;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: transparent;
  user-select: none;
}
.button-primary-colored:hover, .button-primary:hover {
  background-color: var(--accent-color);
  border-color: transparent;
  color: white;
}

.h {
  font-family: gilroy-medium;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 32px;
  color: var(--text);
}

.p {
  font-family: gilroy;
  letter-spacing: 1px;
  font-size: 16px;
  color: var(--text-color-gray);
}

.minitext, .minitext-colored {
  font-family: gilroy;
  letter-spacing: 1px;
  font-size: 16px;
  color: var(--text-color-gray);
  text-transform: uppercase;
}
.minitext span, .minitext-colored span {
  font-weight: bolder;
  letter-spacing: -1px;
}

.minitext-colored {
  color: var(--accent-color);
}

.button-primary-colored {
  color: var(--accent-color);
}

#HEADER {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--background-primary);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  border-bottom: 3px solid var(--color-gray);
  box-shadow: 0 0 10px 0 var(--shadow);
  transition-duration: 0.3s;
}
#HEADER > .logo {
  position: absolute;
  left: 5vw;
  height: 80px;
  aspect-ratio: 1/1;
  background: url(/images/logo_bricks_black.svg) no-repeat center center;
  background-size: contain;
}
#HEADER > nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 2vw;
}
#HEADER > nav > a {
  font-family: gilroy-medium;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--text-color-gray);
  text-decoration: none;
  transition-duration: 0.3s;
  height: 80px;
  align-content: center;
  user-select: none;
}
#HEADER > nav > a:hover {
  color: var(--text);
}
#HEADER > nav > a:is(.selected) {
  position: relative;
  pointer-events: none;
}
#HEADER > nav > a:is(.selected)::after {
  content: "";
  bottom: 1.5px;
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition-duration: 0.3s;
}
#HEADER > .left {
  position: absolute;
  display: flex;
  gap: 2vw;
  right: 5vw;
  align-items: center;
}
#HEADER > .left > .links {
  display: flex;
  gap: 2vw;
}
#HEADER > .left > .links > a {
  position: relative;
  width: 20px;
  height: 20px;
  mask: var(--mask) no-repeat center center;
  mask-size: contain;
}
#HEADER > .left > .links > a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--text-color-gray);
  transition-duration: 0.3s;
}
#HEADER > .left > .links > a:hover::after {
  background-color: var(--text);
}

#FOOTER {
  position: relative;
  width: 100%;
  background-color: var(--text-color-secondary);
  padding: 40px 5vw;
}
#FOOTER .sprinkle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask: url(/images/sprinkle2.svg) no-repeat center center;
  mask-size: cover;
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}
#FOOTER .sprinkle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.07) 0%, rgb(0, 0, 0) 70%);
}
#FOOTER .copyright {
  position: relative;
  width: fit-content;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
#FOOTER .copyright img {
  width: 200px;
  margin: 0 auto;
  pointer-events: none;
}
#FOOTER .copyright p {
  color: white;
  margin: 5px;
  text-align: center;
  font-family: gilroy-medium;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 16px;
}
#FOOTER .copyright a {
  color: white;
  transition-duration: 0.3s;
}
#FOOTER .copyright a:hover {
  transition-duration: 0.3s;
  color: black;
}

/* 4K */

/*# sourceMappingURL=main.css.map */
