@font-face {
    font-family: nexa;
    src: url(../fonts/nexa-heavy.otf);
}

@font-face {
    font-family: gilroy-extrabold;
    src: url(../fonts/gilroy-extrabold.otf);
}

@font-face {
    font-family: gilroy;
    src: url(../fonts/gilroy-light.otf);
}

@font-face {
    font-family: gilroy-medium;
    src: url(../fonts/gilroy-medium.otf);
}

@font-face {
    font-family: gilroy-regular;
    src: url(../fonts/gilroy-regular.otf);
}

::selection {
    background-color: var(--element-background-02) !important;
    color: white;
}

:focus-visible {
    border-radius: 2303px;
    outline: 4px var(--text-selected) solid;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 23.03px;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-track {
    background: var(--page1-bg);
    border:0;
    box-shadow: none;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb {
    background: var(--slider-color);
    border-radius: 23.03px;
    border:0;
    transition-duration: 0.3s;
}


@media screen and (min-width: 600px) and (max-width: 960px) {

}


@media screen and (max-width: 600px) {

}


/* 4K */
@media screen and (min-width: 2300px) {

}