@font-face {
    font-family: nexa;
    src: url(../fonts/nexa-heavy.otf);
}

@font-face {
    font-family: gilroy-extrabold;
    src: url(../fonts/gilroy-extrabold.otf);
}

@font-face {
    font-family: gilroy;
    src: url(../fonts/gilroy-light.otf);
}

@font-face {
    font-family: gilroy-medium;
    src: url(../fonts/gilroy-medium.otf);
}

@font-face {
    font-family: gilroy-regular;
    src: url(../fonts/gilroy-regular.otf);
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

::selection {
    background-color: var(--accent-color) !important;
    color: white;
}

:focus-visible {
    border-radius: 2303px;
    outline: 4px var(--accent-color) solid;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 23.03px;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-track {
    background: var(--background-primary);
    border:0;
    box-shadow: none;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    border-radius: 23.03px;
    border:0;
    transition-duration: 0.3s;
}






.button-primary-colored, .button-primary {
    font-family: gilroy;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--text);
    border: 2px solid var(--accent-color);
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: transparent;
    user-select: none;

    &:hover {
        background-color: var(--accent-color);
        border-color: transparent;
        color: white;
    }
}

.h {
    font-family: gilroy-medium;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 32px;
    color: var(--text);
}

.p {
    font-family: gilroy;
    letter-spacing: 1px;
    font-size: 16px;
    color: var(--text-color-gray);
}

.minitext {
    font-family: gilroy;
    letter-spacing: 1px;
    font-size: 16px;
    color: var(--text-color-gray);
}

.button-primary-colored {
    color: var(--accent-color);
}


#HEADER {
    $header-height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: var(--background-primary);
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border-bottom: 3px solid var(--color-gray);
    box-shadow: 0 0 10px 0 var(--shadow);
    transition-duration: 0.3s;




    >.logo {
        position: absolute;
        left: 5vw;
        height: $header-height;
        aspect-ratio: 1/1;
        background: url(/images/logo_bricks_black.svg) no-repeat center center;
        background-size: contain;
    }

    >nav {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 2vw;

        >a {
            font-family: gilroy-medium;
            font-weight: lighter;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 16px;
            color: var(--text-color-gray);
            text-decoration: none;
            transition-duration: 0.3s;
            height: $header-height;
            align-content: center;
            user-select: none;

            &:hover {
                color: var(--text);
            }

            &:is(.selected) {
                position: relative;
                pointer-events: none;

                &::after {
                    content: '';
                    bottom: 1.5px;
                    border-radius: 20px;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: var(--accent-color);
                    transition-duration: 0.3s;
                }
            }
        }
    }

    >.left {
        position: absolute;
        display: flex;
        gap: 2vw;
        right: 5vw;
        align-items: center;

        >.links {
            display: flex;
            gap: 2vw;

            >a {
                position: relative;
                width: 20px;
                height: 20px;
                mask: var(--mask) no-repeat center center;
                mask-size: contain;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: var(--text-color-gray);
                    transition-duration: 0.3s;
                }

                &:hover {
                    &::after {
                        background-color: var(--text);
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 600px) and (max-width: 960px) {

}


@media screen and (max-width: 600px) {

}


/* 4K */
@media screen and (min-width: 2300px) {

}