#TOP {
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/images/interier/head11.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.05;
        filter: blur(5px);
    }
}

#page1 {
    .minitext-colored {
        //font-size: 24px;
    }


    >.images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        align-items: start;
        gap: 20px;

        >img {
            position: relative;
            max-width: 500px;
            aspect-ratio: initial;
            pointer-events: none;
            //border: 2px solid var(--accent-color);
        }

        &:is(.smaller) {
            >img {
                max-width: 300px !important;
            }
        }
    }
}