#TOP {

}

#page1 {
    .minitext-colored {
        //font-size: 24px;
    }


    >.images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        align-items: start;
        gap: 20px;

        .space {
            width: 100%;
            height: 0px;
        }

        >img {
            position: relative;
            aspect-ratio: initial;
            pointer-events: none;
            //border: 2px solid var(--accent-color);

            &:is(.col) {
                width: 80%;
                max-width: none !important;
            }
        }

        &:is(.smaller) {
            >img {
                max-width: 300px;
            }
        }

        &:not(.smaller) {
            >img {
                max-width: 500px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #page1 > .images {
        flex-direction: column;
        position: relative;

        >img {
            width: 100%;
            max-width: none;
        }
    }

    #page1 > .images:is(.smaller) > img {
        max-width: none !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
    #page1 > .images {
        flex-direction: column;
        position: relative;

        >img:is(.col){
            width: 100%;
        }

        >img {
            width: 100%;
            max-width: none !important;
        }
    }

    #page1 > .images:is(.smaller) > img {
        max-width: none !important;
    }
}