#TOP {
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/images/interier/head11.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.05;
        filter: blur(5px);
    }
}

#page1 {
    position: relative;

    .kadernice-parent {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
        width: 100%;

        .kadernice {
            position: relative;
            width: 400px;

            .imagediv {
                width: 100%;
                aspect-ratio: 1/1;
                position: relative;

                img {
                    width: 100%;
                }

                .info {
                    position: absolute;
                    max-height: 300px;
                    width: 300px;
                    overflow-y: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 15px;
                    background-color: rgba(255, 255, 255, 0.8);

                    p {
                        margin: 0;
                        font-family: quicksand-light;
                        text-align: justify;
                    }
                }
            }

            .textbox {
                position: relative;
                background-color: var(--background-primary);
                margin-top: 16px;

                h1, p {
                    margin: 0;
                    width: 80%;
                    font-family: quicksand-light;
                    margin: 8px 0;
                }

                h1 {
                    font-family: gilroy-medium;
                    font-weight: lighter;
                    color: var(--accent-color);
                }

                p {
                }

                .showinfo {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 0;
                    right: 0;
                    background-color: var(--accent-color);
                    cursor: pointer;
                    transition-duration: 0.3s;

                    &:hover {
                        background-color: var(--accent-color-darker);
                        transition-duration: 0.3s;
                    }
                }
            }
        }
    }
}