#TOP {

}

#page1 {
    position: relative;

    .kadernice-parent {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
        width: 100%;

        .kadernice {
            position: relative;
            width: 400px;
            background-color: var(--element-background);

            .imagediv {
                width: 100%;
                aspect-ratio: 1/1;
                position: relative;

                img {
                    width: 100%;
                    pointer-events: none;
                    border-bottom: 2px solid var(--accent-color);
                }

                >.info {
                    position: absolute;
                    max-height: 300px;
                    width: 300px;
                    overflow-y: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 15px;
                    background-color: rgba(255, 255, 255, 0.8);

                    p {
                        margin: 0;
                        font-family: quicksand-light;
                        text-align: justify;
                    }
                }
            }

            .textbox {
                position: relative;
                padding: 16px;

                >h1, >p {
                    margin: 0;
                    font-family: quicksand-light;
                    margin: 8px 0;
                }

                >h1 {
                    font-family: gilroy-medium;
                    font-weight: lighter;
                    margin-top: 0;
                    color: var(--accent-color);
                }

                >p {
                    font-family: gilroy-medium;
                    font-weight: lighter;
                }

                >.info {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    margin-top: 24px;

                    >p {
                        margin: 0;
                        font-family: quicksand-light;
                    }
                }

                /*.showinfo {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 0;
                    right: 0;
                    background-color: var(--accent-color);
                    cursor: pointer;
                    transition-duration: 0.3s;

                    &:hover {
                        background-color: var(--accent-color-darker);
                        transition-duration: 0.3s;
                    }
                }*/
            }
        }
    }
}


@media screen and (max-width: 600px) {
    #page1 .kadernice-parent {
        gap: 72px;

        > .kadernice {
            width: 100%;
        }
    }
}