@font-face {
    font-family: nexa;
    src: url(../fonts/nexa-heavy.otf);
}

@font-face {
    font-family: gilroy-extrabold;
    src: url(../fonts/gilroy-extrabold.otf);
}

@font-face {
    font-family: gilroy;
    src: url(../fonts/gilroy-light.otf);
}

@font-face {
    font-family: gilroy-medium;
    src: url(../fonts/gilroy-medium.otf);
}

@font-face {
    font-family: gilroy-regular;
    src: url(../fonts/gilroy-regular.otf);
}

.hidden {
  display: none !important;
}

.visible {
  display: unset;
}


.mobile-show {
  display: none !important;
}


.nadpis, .h {
    font-family: gilroy-extrabold, nexa, arial black, arial, calibri;
    position: relative;
    margin: 0;
}

.podnadpis, .p {
    font-family: gilroy-medium, arial, calibri;
    position: relative;
    margin: 0;
}


.followbutton {
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 40px;
  text-transform: uppercase;
  font-family: nexa, arial black;
  background: rgb(34, 34, 34);
  border-radius: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2.303px solid #91ff00;
  transition-duration: 0.7s;
  cursor: pointer;
}

.followbutton:hover {
    background: #91ff00;
    border-color: white;
}

.font-bold, .font-heavy {
    font-family: "gilroy-extrabold", sans-serif;
}
  
  
.font-light {
    font-family: "gilroy", sans-serif;
}
  
.font-medium {
    font-family: "gilroy-medium", sans-serif;
}
  
.font-regular {
    font-family: "gilroy-regular", sans-serif;
}



.text-shadow {
  text-shadow: var(--font-shadow) !important;
}
  
.text-selected {
  color: #00d30b !important;
}

.text-h1 {
  margin:0 !important;
  margin-top:80px !important;
  font-size:80px !important;
  font-family: gilroy-medium !important;
}
  
.text-center {
  text-align: center !important;
}

.page-center {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-small {
  font-size: 0.75em !important;
}

.text-large {
  font-size: 1.2em !important;
}

.text-x-large {
  font-size: 1.5em !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-white-op-50 {
  color: rgb(134, 134, 134)  !important;
}

.object-center {
  text-align: center !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.divflex-center, .flexdiv-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divflex-center p, .flexdiv-center p {
  width: fit-content;
} 

.font-p {
  font-family: "gilroy-extrabold", arial;
  color: var(--fontp-color);
}


@media screen and (max-width: 600px) {
  .mobile-hide {
    display: none !important;
  }

  .mobile-show {
    display: unset !important;
  }
}