body {
    color: var(--text);
    background-color: rgb(255, 255, 255);
    margin:0;
}



::-webkit-scrollbar {
    width: 1em;
    border-radius: 23.03px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border:0;
    box-shadow: 0;
}

::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 23.03px;
    border:0;
}

.fade-enter-active {
  transition: all 0.3s ease;
}

.fade-leave-active {
  transition: all 0.4s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#mainbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 0.5s;
}

#HEADER {
    width: 100%;
    height: 90px;
    margin:0;
    top:0;
    z-index: 10;
    transition-duration: 0.2s;
    position: absolute;
}

#HEADER #header-navbar {
    padding: 0 20px;
    position: absolute;
    right: 220px;
    top: 30px;
    user-select: none;
    transition-duration: 0.3s;
}

#HEADER #header-navbar a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    /* color: var(--text); */
    display: inline-block;
    line-height: 50px;
    padding: 0 15px;
    font-family: gilroy-medium;
    transition: 0.5s;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

#TOP {
    position: relative;
    width: 100%;
    height: 92vh;
    background-color: rgb(15, 15, 15);
    transition-duration: 0.3s;
}

#PAGE1 {
    position: relative;
    width: 100%;
    min-height: 8vh;
    background-color: #0C0C0C;
    transition-duration: 0.3s;
}

#FOOTER {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(35, 35, 35);
    transition-duration: 0.3s;
}

.page-divider {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
    background-image: url(../images/waves.svg);
}































/*?      HOME      */
#toppage-home-text-div .home-flex-parent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
}

#toppage-home-text-div .biglogo {
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image: url(../images/logo_white.png), url(../images/blob.svg);
    background-position: center;
    background-size: 60%, cover;
    background-repeat: no-repeat;
}

#toppage-home-text-div .home-text-div {
    width: max-content;
    max-width: 40vw;
}




#toppage-home-text-div .home-text-div .h {
    font-size: 90px;
    color: white;
    text-align: left;
}


#toppage-home-text-div .home-text-div .p1 {
    font-size: 23px;
    text-align: left;
}





























/* Mobiles */
@media screen and (max-width: 600px) {
 
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 960px) {}

/* Laptops */
@media screen and (min-width: 960px) and (max-width: 1264px) {}

/* 4K */
@media screen and (min-width: 1904px) {}

/* ERR */
@media screen and (max-width: 300px) {
    #vueApp {
        display: none;
    }

    #badres {
        display: grid;
    }
}