body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin:0;
}


::-webkit-scrollbar {
    width: 1em;
    border-radius: 23.03px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border:0;
    box-shadow: 0;
}

::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 23.03px;
    border:0;
}

.fade-enter-active {
  transition: all 0.3s ease;
}

.fade-leave-active {
  transition: all 0.4s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.mainbg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
    margin:0;
    top:0;
    left:0;
    pointer-events: none;
}

#TOP {
    position: relative;
    width: 100%;
}



































/* Mobiles */
@media screen and (max-width: 600px) {
 
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 960px) {}

/* Laptops */
@media screen and (min-width: 960px) and (max-width: 1264px) {}

/* 4K */
@media screen and (min-width: 1904px) {}

/* ERR */
@media screen and (max-width: 300px) {
    #vueApp {
        display: none;
    }

    #badres {
        display: grid;
    }
}