body {
    color: var(--text);
    background-color: var(--bg);
    margin:0;
    --mobile-maxw: 600px;
    --tablet-minw: 600px;
    --tablet-maxw: 960px;
    --laptop-minw: 960px;
    --laptop-maxw: 1264px;
    --fourk-minw: 1904px;
}


::selection {
    background-color: var(--element-background-02) !important;
    color: white;
}

:focus-visible {
    border-radius: 2303px;
    outline: 4px var(--text-selected) solid;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 23.03px;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-track {
    background: var(--page1-bg);
    border:0;
    box-shadow: 0;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb {
    background: var(--slider-color);
    border-radius: 23.03px;
    border:0;
    transition-duration: 0.3s;
}

.fade-enter-active {
  transition: all 0.3s ease;
}

.fade-leave-active {
  transition: all 0.4s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#mainbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 0.5s;
    background-attachment: fixed;
}

#HEADER {
    width: 100%;
    height: 90px;
    margin:0;
    top:0;
    z-index: 10;
    transition-duration: 0.2s;
    position: absolute;
    border-color: transparent;
}

#HEADER .header-logo {
    position: absolute;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
    left: 7.5vw;
    transition-duration: 0.3s;
    transition-property: filter;
    cursor: pointer;
}

#HEADER .header-logo:hover {
    transition-duration: 0.3s;
    filter: var(--headerlogo-hover);
}

#HEADER #header-navbar {
    padding: 0 20px;
    position: absolute;
    right: 7.5vw;
    top: 30px;
    user-select: none;
    transition-duration: 0.3s;
}

#HEADER #header-navbar a {
    font-size: 20px;
    text-decoration: none;
    color: var(--text);
    display: inline-block;
    line-height: 50px;
    padding: 0 15px;
    font-family: gilroy-medium;
    transition: 0.5s;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

#header-menu {
    right: 7.5vw;
    top: 100px;
    position: absolute;
    width: auto;
    height: auto;
    background-color: var(--page1-bg);
    padding: 10px;
    border-radius: 20px;
    display: none;
    z-index: 4;
    animation-name: opp_on;
    animation-duration: 0.3s;
    animation-iteration-count: start;
}

#header-menu-flexdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 10px;
    cursor: pointer;
}

#header-menu-flexdiv img {
    width: 30px;
    height: 30px;
    pointer-events: none;
    filter: invert() grayscale() brightness(200%);
    margin-right: 20px;
}

#header-menu-flexdiv a, #header-menu-flexdiv span {
    font-family: gilroy-medium;
    text-decoration: none;
    color: var(--text);
    font-size: 30px;
    transition-duration: 0.5s;
    user-select: none;
}

#header-menu-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 7.5vw;
    top: 30px;
    cursor: pointer;
    z-index: 3;
    background-image: url(../images/menu.webp);
    background-size: cover;
    background-position: center;
    image-rendering:optimizeQuality;
    display: none;
}

.header-menu-flexdiv-more .morediv {
    position: absolute;
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: var(--page1-bg);
    padding: 10px;
    border-radius: 20px;
    animation-name: opp_on;
    animation-duration: 0.3s;
    animation-iteration-count: start;
    transition-duration: 0s !important;
    display:grid;
    right: 0;
    top: 90%;
}

.header-menu-flexdiv-more:hover .morediv {
    visibility: visible;
}
.header-menu-flexdiv-more .morediv a {
    margin:5px;
    transition-duration: 0s !important;
    font-size: 23px !important;
}

#TOP {
    position: relative;
    width: 100%;
    height: 92vh;
    background-color: rgb(15, 15, 15);
    transition-duration: 0.3s;
}

#PAGE1 {
    position: relative;
    width: 100%;
    min-height: 8vh;
    background-color: var(--page1-bg);
    transition-duration: 0.3s;
    padding-top: 25px;
    padding-bottom: 17px;
}

#FOOTER {
    position: relative;
    padding-top: 150px;
    width: 100%;
    height: auto;
    background-color: var(--footer-bg);
    transition-duration: 0.3s;
}

#FOOTER .p2 {
    margin-top: 5px;
    font-size: 15.09px;
}

#footer-logo {
    width: 100px;
}

#footer-content-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 80%;
    max-width: 1230.3px;
    margin:auto;
}

.footer-content-flex-child .h {
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: solid 3px var(--footer-lines);
    margin-bottom: 25px;
    text-align: left;
    text-anchor: start;
    color: var(--text-selected);
}

.footer-content-flex-child .p {
    margin: 10px 0px;
    text-align: left;
    text-anchor: start;
    font-size: 16px;
    width: max-content;
    transition-duration: 0.3s;
    text-decoration: none;
}

.footer-content-flex-child .p-clickable {
    cursor: pointer;
}

.footer-content-flex-child .p-clickable:hover {
    color: var(--fontp-color);
    transition-duration: 0.3s;
}

.footer-content-flex-child .fblogo {
    width: 180px;
    height: 70px;
    background-image: url(../images/logos/facebook_whitelogo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition-duration: 0.3s;
}

.footer-content-flex-child .fblogo:hover {
    filter: invert(70%) !important;
    transition-duration: 0.3s;
}



#FOOTER #footer-content .copyright {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    max-width: 80vw;
    margin: auto;
    margin-bottom: 30px;
}

#FOOTER #footer-content .copyright .logo {
    width: 150px;
    height: 100px;
    background-image: url(../images/logo_nsqr.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#FOOTER #footer-content .copyright .p {
    font-size: 25px;
}

.page-divider {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
    background-image: var(--waves1);
    transition-duration: 0.3s;
}

.lightbox-blurdiv {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(236, 228, 228, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px) brightness(70%);
    z-index: 3;
}






























/*?      HOME      */

#toppage-home #blob-fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/blob_fullscreen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 0;
}


#toppage-home .home-flex-parent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
}

#toppage-home .biglogo {
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image: url(../images/logo_white.png), url(../images/blob.svg);
    background-position: center;
    background-size: 60%, cover;
    background-repeat: no-repeat;
    transition-duration: 0.3s;
    transition-property: background-image;
}

#toppage-home .home-text-div {
    width: max-content;
    max-width: 40vw;
}




#toppage-home .home-text-div .h {
    font-size: 5vw;
    text-align: left;
}

#toppage-home .home-text-div .h-smaller {
    font-size: 4vw;
    text-align: left;
}

#toppage-home .home-text-div .p1 {
    font-size: 1.2vw;
    text-align: left;
}

#toppage-home .home-text-div .objednavky-texts {
    margin-top: 2.5vw;
    gap: 25px;
    width: fit-content;
    align-items: center;
}


#toppage-home .home-text-div .objednavky-texts .p1 {
    font-size: 1.5vw;
    font-family: gilroy-extrabold;
    border-bottom: 3px var(--text-selected) solid;
    cursor:default;
}

#toppage-home .home-text-div .objednavky-texts .p2 {
    color: var(--text-selected);
    font-size: 1.8vw;
    font-family: gilroy-extrabold;
    margin-left: 1vw;
}


#toppage-home #home-selectedimg-parent {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    width: 40vw;
    height: auto;
    min-height: 1.5vw;
    bottom: 5vw;
    left: 7.5vw;
    gap: 15px 0;
}


#toppage-home .home-selectedimg-child {
    position: relative;
    border-radius: 800px;
    background-color: gray;
    width: 5.5vw;
    height: 1.5vw;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin-right: -15px;
    cursor: pointer;
    transition-duration: 0.18s;
}

#toppage-home .home-text-div .facebook-logo {
    position: relative;
    width: 10vw;
    height: 4vw;
    background-image: url(../images/logos/facebook_dark.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2.5vw;
    cursor: pointer;
    transition-duration: 0.3s;
}

#toppage-home .home-text-div .facebook-logo:hover {
    filter: brightness(60%);
    transition-duration: 0.3s;
}

#page1-home #map-parent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    padding: 50px 0 100px 0;
}

#page1-home #map-parent #map { 
    border-radius: 50px;
    border: solid 5px var(--text-selected);
    background-color: rgb(233, 233, 233);
    box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.1 );
}

#page1-home #map-parent #maptextdiv { 
    --maptextdiv: 500px;
    width: var(--maptextdiv);
}

#page1-home #map-parent #maptextdiv div { 
    border-radius: 50px;
    pointer-events: none;
    height: 300px;
    background-image: url(../images/photo_front.png);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    width: auto;
    margin-top: 25px;
}

#page1-home #map-parent #maptextdiv .h { 
    text-align: center;
    margin:0;
}

#page1-home #map-parent #maptextdiv .p {
    text-align: center;
}

#page1-home #map-parent #maptextdiv .p2, #page1-home #map-parent #maptextdiv .p2 a {
    margin:0;
    font-family: gilroy-medium, arial;
    font-weight: 600;
    text-align: center;
    text-anchor: middle;
    color: var(--text-selected);
    top:25px;
    text-decoration: none;
}
























/*?     TÝM     */
#page1-team .members-parent {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 90%;
    margin:auto;
}


#page1-team .members-parent .members-child {
    position: relative;
    width: 400px;
    min-height: 520px;
    background-color: var(--element-background-01);
    border-radius: 50px;
    padding: 30px;
}

#page1-team .members-parent .members-child .avatar {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: var(--element-background-02);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
}

#page1-team .members-parent .members-child .p-name {
    position: relative;
    font-size: 35px;
    font-family: gilroy-extrabold;
    margin: auto;
    margin-top: 30px;
    width: fit-content;
    color: var(--text-selected);
}

#page1-team .members-parent .members-child .p-desc {
    position: relative;
    font-size: 18px;
    font-family: gilroy-medium;
    font-weight: 600;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    width: fit-content;
}

#page1-team .members-parent .members-child .p-info {
    position: relative;
    font-size: 18px;
    font-family: gilroy-medium;
    margin: auto;
    text-align: left;
    color: var(--fontp-color);
}




















/*? FOTO */

#page1-foto .photos-parent1 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin:auto;
    gap: 25px;
}

#page1-foto .photos-parent1 img {
    width: 500px; 
}


#page1-foto .photos-parent2 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    margin-top: 120px;
    gap: 25px;
}

#page1-foto .photos-parent2 img {
    position: relative;
    width: 400px;
    height: max-content;
    object-fit: contain;
    object-position: center;
}


#page1-foto .photos-parent2 img,
#page1-foto .photos-parent1 img {
    border-radius: 20px;
}






























/*? INFO */

#page1-info .p1 {
    font-family: gilroy-extrabold;
    text-align: center;
    margin-bottom: 15px;
    color: var(--fontp-color);
}

#page1-info .p2 {
    max-width: 80%;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: var(--fontp-color);
    font-size: 30px;
}

#page1-info .sluzby-parent {
    display: grid;
    position: relative;
    width: 70%;
    max-width: 1100px;
    margin:auto;
    gap: 25px;
}

#page1-info .sluzby-parent .sluzby-child {
    margin:0;
    font-size: 30px;
    font-family: gilroy-medium;
    padding: 15px 40px;
    background-color: var(--element-background-01);
    border-bottom: 1px solid var(--text-selected);
    border-radius: 50px;
}





































/* Mobiles */
@media screen and (max-width: 600px) {
    #header-navbar {
        display: none;
    }

    #header-menu-icon,
    #header-menu {
        display: unset;
    }




    /*? HOME */
    #toppage-home .home-flex-parent {
        justify-content: center;
        margin-top: 4vw;
    }


    #toppage-home .biglogo  {
        display: none;
    }

    #toppage-home .home-text-div {
        width: max-content;
        max-width: 90vw;
    }

    #toppage-home .home-text-div .h {
        font-size: 45px;
        text-align: center;
    }

    #toppage-home .home-text-div .p1 {
        font-size: 16px;
        text-align: center;
    }

    #toppage-home .home-text-div .facebook-logo {
        width: 120px;
        height: 50px;
        margin: auto;
        margin-top: 5px;
    }

    #toppage-home .home-text-div .objednavky-texts {
        display: grid;
        gap: 0;
        margin:auto;
        margin-top: 20px;
    }
    
    
    #toppage-home .home-text-div .objednavky-texts .p1 {
        font-size: 20px;
        font-family: gilroy-extrabold;
        border-bottom: 3px var(--fontp-color) solid;
    }
    
    #toppage-home .home-text-div .objednavky-texts .p2 {
        color: var(--text-selected);
        font-size: 24px;
        font-family: gilroy-extrabold;
        margin-left: 1vw;
    }

    #page1-home #map-parent {
        padding-top:0;
    }

    #page1-home #map-parent #map {
        display: none;
    }

    #page1-home #map-parent #maptextdiv div {
        width: 80vw;
        margin: 20px auto;
        height: 200px;
        border-radius: 20px;
    }

    #page1-home #map-parent #maptextdiv .p2, #page1-home #map-parent #maptextdiv .p2 a {
        top: 0;
    }

    #page1-home #map-parent #maptextdiv .p1 {
        width: 80vw;
        margin:auto;
    }





    /*? TÝM */

    #page1-team .members-parent {
        display: grid;
        margin: auto;
        width: 90vw;
        gap: 50px;
    }

    #page1-team .members-parent .members-child {
        position: relative;
        width: fit-content;
        margin: auto;
        min-height: 0;
    }

    #page1-team .members-parent .members-child .avatar {
        width: 150px;
        height: 150px;
    }

    #page1-team .members-parent .members-child .p-name {
        font-size: 30px;
    }

    #page1-team .members-parent .members-child .p-desc,
    #page1-team .members-parent .members-child .p-info {
        font-size: 16px;
    }






    /*? INFO */

    #page1-info .p2 {
        font-size: unset;
    }

    #page1-info .sluzby-parent {
        width: 90vw;
        max-width: none;
        margin: auto;
        gap: 15px;
    }

    #page1-info .sluzby-parent .sluzby-child {
        font-size: 16px;
    }











    /*?     FOTO    */ 
    #page1-foto .photos-parent1,
    #page1-foto .photos-parent2 {
        display: grid;
        width: 90vw;
    }

    #page1-foto .photos-parent1 img,
    #page1-foto .photos-parent2 img {
        width: 100%; 
    }
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 960px) {
    #header-navbar {
        display: none;
    }

    #header-menu-icon,
    #header-menu {
        display: unset;
    }
}

/* Laptops */
@media screen and (min-width: 960px) and (max-width: 1264px) {}

/* 4K */
@media screen and (min-width: 1904px) {}

/* ERR */
@media screen and (max-width: 300px) {
    #vueApp {
        display: none;
    }

    #badres {
        display: grid;
    }
}